// PrimeNG e PrimeFlex
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';


body {
  padding-top: 200px;
}

.cursor-pointer {
  cursor: pointer;
}

html {
  font-size: 14px;
}

.login-container {
  width: 800px !important;
  margin-top: 15%;
}

/*
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
 */