// PrimeNG e PrimeFlex
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';


/* ... il tuo CSS custom ... */
.login-container {
  width: 800px !important;
  margin-top: 15%;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  padding-top: 200px;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

html {
    font-size: 14px;
}