@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

.login-container {
  width: 800px !important;
  margin-top: 15%;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  padding-top: 150px;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

html {
    font-size: 14px;
}