<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="ticket-form-wrapper">
  <h2 class="form-title">Nuovo Ticket</h2>

  <form [formGroup]="ticketForm" (ngSubmit)="submitTicket()" class="ticket-form">

    <input type="text" pInputText formControlName="title" placeholder="Titolo" />
    <textarea pInputTextarea formControlName="description" rows="4" placeholder="Descrizione dettagliata"></textarea>

    <input type="email" pInputText formControlName="email" placeholder="Email" />

    <div class="input-group">
      <input type="text" pInputText formControlName="phoneNumber" placeholder="Telefono" />
      <input type="text" pInputText formControlName="fiscalCode" placeholder="Codice Fiscale" />
    </div>

    <p-dropdown 
      [options]="['LOW','MEDIUM','HIGH','CRITICAL']" 
      formControlName="priority" 
      placeholder="Seleziona priorità">
    </p-dropdown>

    <p-dropdown 
      [options]="helpers" 
      optionLabel="fullName" 
      optionValue="id" 
      formControlName="assignedToId" 
      placeholder="Assegna a uno degli helper o a te stesso">
    </p-dropdown>

    <div class="actions">
      <button pButton type="submit" label="Crea Ticket" [disabled]="ticketForm.invalid"></button>
    </div>
  </form>
</div>
